extends ../../Templates/home/template.pug

block pageConfig
	-config.title = 'Code Inc MX - Welcome';
	-config.description = 'Page description for SEO purposes';

block main
	main
		h1 ¡Welcome to Code Inc MX Landing Page Boilerplate!

